<%- include('header'); -%>
<script src="/js/gestionnaire.js" defer></script>
<main class="container">
  <div class= "main-wrapper">
    <button class= "up-down"><i class="fa fa-angle-up"></i></button>
    <div class= "header header-gestionnaire">
      <div class= "navbar">
        <a href="/"><span id= "logo-name-1">Eat <span id="logo-name-2">It </span></span></a>
      </div>
      <div class= "intro intro-restaurant">
      <span id= "spn-1">
        <h1> Gestionnaire : Liste commande</br></br>
        </h1>
      </span>
    </div>
    </div>
    <div class= "service gestionnaire"><!-- div 2-->
      <h1>Liste restaurant</h1>
      <div class="liste-commande-gestionnaire">
        <form onsubmit="return reponse" action="/gestionnaire/annulation-commande" method="POST">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Date et heure de commande</th>
              <th>Adresse de livraison</th>
              <th>Nom restaurant</th>
              <th>Date et heure préparation</th>
              <th>Nom livreur</th>
              <th>Date et heure enlèvement</th>
              <th>Date et heure livraison</th>
              <th>Etat de la commande</th>
              <th></th>
            </tr>
          </thead>

          <tbody id="liste-commande"></tbody>

        </table>
      </form>
      </div>
      <button class="btn btn-primary btn-table-commande"><a href="/gestionnaire/vider-table-commande">Suppression de toute la table</a></button>
    </div>
    <div class= "footer"><!-- div 3-->
      <div class= "logo"></div>
      <div class= "general">
        <ul>
          <li><a href= "https://github.com/NHatim">GitHub</a></li>
          <li><a href= "mailto:hatim.naimi@gmail.com">Contactez-moi</a></li>
        </ul>
      </div>
    </div>

    <span id= "spn-4"><i class= "fa fa-copyright"></i>
    &nbsp; Copyrights to : FoodCuBo Code Pen & Modification par NAIMI Hatim
    </span>
  </div>
</main>

<%- include('footer') -%>
