<%- include('header'); -%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" defer></script>
<script src="/js/gestionnaire.js" defer></script>
<main class="container">
  <div class= "main-wrapper">
    <button class= "up-down"><i class="fa fa-angle-up"></i></button>
    <div class= "header header-mexicain">
      <div class= "navbar">
        <a href="/"><span id= "logo-name-1">Eat <span id="logo-name-2">It </span></span></a>
      </div>
      <div class= "intro intro-restaurant">
      <span id= "spn-1">
        <h1> Restaurant : Mexicain</br></br>
        </h1>
      </span>
    </div>
    </div>
    <div class= "service"><!-- div 2-->
      <h1>Liste restaurant</h1>
      <div class="liste-restaurant">
      </div>
    </div>
    <div class= "footer"><!-- div 3-->
      <div class= "logo"></div>
      <div class= "general">
        <ul>
          <li><a href= "https://github.com/NHatim">GitHub</a></li>
          <li><a href= "mailto:hatim.naimi@gmail.com">Contactez-moi</a></li>
        </ul>
      </div>
    </div>

    <span id= "spn-4"><i class= "fa fa-copyright"></i>
    &nbsp; Copyrights to : FoodCuBo Code Pen & Modification par NAIMI Hatim
    </span>
  </div>
</main>
<%- include('footer') -%>
