<%- include('header'); -%>

<main class="container">
  <div class= "main-wrapper">
    <button class= "up-down"><i class="fa fa-angle-up"></i></button>
    <div class= "header header-italien">
      <div class= "navbar">
        <a href="/"<span id= "logo-name-1">Eat <span id="logo-name-2">It </span></span></a>
      </div>
      <div class= "intro intro-restaurant">
      <span id= "spn-1">
        <h1> Restaurant : Italien</br></br>
        </h1>
      </span>
    </div>
    </div>
    <div class= "service"><!-- div 2-->
      <h1>Liste restaurant</h1>
      <div class="liste-restaurant">
        <form action="/italien" method="post">
        <ul>
          <li>Restaurant DOLCE e SALATO : Plat du jour <br/>Spaghetti Bolognese </br>
            <button name="restaurant" type="submit" class="btn btn-outline-danger btn-mario" value="DOLCE e SALATO : Spaghetti Bolognese">Commander</button></li>
          <li>Restaurant Il Sorrento Ristorante : Plat du jour <br/>Lasagne </br>
            <button name="restaurant" type="submit"  class="btn btn-outline-danger btn-luigi"  value="Il Sorrento Ristorante : Lasagne">Commander</button></li>
          <li>Restaurant La Mia Cucina 2 : Plat du jour <br/>Spaghetti Carbonara </br>
            <button name="restaurant" type="submit"  class="btn btn-outline-danger btn-wario"  value="La Mia Cucina 2 : Spaghetti Carbonara">Commander</button></li>
          <li>Restaurant Il Carpaccio : Plat du jour <br/>Grand Stromboli </br>
            <button name="restaurant" type="submit"  class="btn btn-outline-danger btn-waluigi"  value="Il Carpaccio : Grand Stromboli">Commander</button></li>
        </ul>
      </form>
      </div>
    </div>
    <div class= "footer"><!-- div 3-->
      <div class= "logo"></div>
      <div class= "general">
        <ul>
          <li><a href= "https://github.com/NHatim">GitHub</a></li>
          <li><a href= "mailto:hatim.naimi@gmail.com">Contactez-moi</a></li>
        </ul>
      </div>
    </div>

    <span id= "spn-4"><i class= "fa fa-copyright"></i>
    &nbsp; Copyrights to : FoodCuBo Code Pen & Modification par NAIMI Hatim
    </span>
  </div>
</main>
<%- include('footer') -%>
